.cargando{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.cargando img{
    position: absolute;
}

.cargando img:nth-child(1){
    animation: cargando 4s linear infinite;
    z-index: 10000;
    width: 270px;
    height: 270px;
}

.cargando img:nth-child(2){
    width: 150px;
    height: 150px;
}

@keyframes cargando {
    0%{
        transform: rotate(0deg);
    }    
    100%{
        transform: rotate(360deg);
    }
}

/*Definicion de los elementos del carrusel*/

.carouselContainer{
    position: relative;
    display: flex;
    align-items: center;
    height: 30vh;
    width: 100vw;
    overflow: hidden;
    justify-self: center;
}
.carouselContainer.carouselImages{
    height: 50vh;
}

.carouselCards{
    display: flex;
    transition: transform 0.8s ease-in-out;
    justify-content: center;
    justify-self: center;
}

.carouselItem{
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin: 0 5vw 0 5vw;   
}

.carouselItem.heroPanel{
    margin: 0;
}


/*Se manejara a nivel de javascript*/
.carouselCards.sliding-transition{
    transition: transform 0.8s ease-in-out;
}

/*Elementos visuales de la navegacion*/
.carousel-navigator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.carousel-navigator-dot{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 0.3rem;
    margin: 0.25rem;
    cursor: pointer;
}

.carousel-navigator-dot.active {
    background-color: #F00;
}