:root {
    --DarkBlue: #0b109f;
    --WhiteSmoke: whitesmoke;
    --LightBlue: #2798e8;
    --Salmon: #fa8071;
    --Purple: #5d4aa3;
    --Green: #d6f02b;
    --Red: #e10001;
    --Black: #000000;
  }

  /* Colores Fondo */
.Back-WhiteSmoke{
    background-color: var(--WhiteSmoke);
}
.Back-Black{
    background-color: var(--Black);
}

.Back-LightBlue{
    background-color: var(--LightBlue);
}

.Back-Salmon{
    background-color: var(--Salmon);
}

.Back-DarkBlue{
    background-color: var(--DarkBlue);
}

.Back-Purple{
    background-color: var(--Purple);
}
.Back-Green{
    background-color: var(--Green);
}

/* Colores de fondo con gradiantes */

.Back-Black-Gradient{
    background: linear-gradient(to right, var(--Black), #878787, var(--Black), var(--Black));
}

.Back-LightBlue-Gradient{
    background: linear-gradient(to right, #ffff, #ffff, var(--Black), var(--Black));
}

.Back-Salmon-Gradient{
    background: linear-gradient(to right, #ffff, #ffff, var(--Salmon));
}

.Back-DarkBlue-Gradient{
    background: linear-gradient(to right, var(--DarkBlue), #5772d4, var(--DarkBlue));
}

.Back-Purple-Gradient{
    background: linear-gradient(to right, var(--Purple) ,var(--Purple), var(--Black),var(--Black));
}

.Back-BlackWhite-Gradient{
    background: linear-gradient(to right, var(--Black), var(--Purple), #878787, var(--Black));
}

/* Fondo con transparencia */
.FondoBlanco{
    background-color: rgba(255, 255, 255, 0.835);
}

/* Colores de fuente */

.Color-WhiteSmoke{
    color: var(--WhiteSmoke);
}

.Color-Salmon{
    color: var(--Salmon);
}

.Color-LightBlue{
    color: var(--LightBlue);
}

.Color-Black{
    color: var(--Black);
}

.Color-DarkBlue{
    color: var(--DarkBlue);
}

.Color-Green{
    color: var(--Green);
}

.Color-Purple{
    columns: var(--Purple);

}
.Color-Red{
    color: #f03a3a;
}

/* Colores promociones */

.Color-Orange{
    color: #FFA500;
}

.Color-Gold{
color: #FFD700;
}

.Color-Brown{
color: #CD853F;
}