.hero-content {
    position: relative;
    background-color: #281010; /* Fondo de reserva en caso de que la imagen no se cargue */
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Asegura que todo el texto esté centrado */
}

.hero-content .Container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0; /* Coloca la imagen de fondo detrás del contenido */
}

.hero-content .Contenido {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
    color: #000000; /* Color del texto para contraste con el fondo oscuro */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados para mejor estética */
    max-width: 800px; /* Limita el ancho máximo del contenido */
    margin: 0; /* Elimina márgenes para un centrado preciso */
}

.hero-content .Contenido h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.hero-content .Contenido p {
    font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
    margin: 0;
    padding: 0;
}

.hero-content .PieContenido {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro del contenedor */
    justify-content: center; /* Centra el contenido verticalmente */
    margin-top: 25px;
    width: 100%;
}

.hero-content .PieContenido img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
}

.ConocenosMain{
    background-image: url(../fondos/fondo-morado-blanco-mobil.jpg);
}

@media (min-width: 710px) {
    .ConocenosMain{
        background-image: url(../fondos/fondo-morado-blanco-tablet.jpg);
    }
}

@media (min-width: 1024px){
    .ConocenosMain{
        background-image: url(../fondos/fondo-morado-blanco-lg.jpg);
    }
}