
*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.fullimage img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0px;
    margin: 0px;

}

header{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header nav a{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.logo{
    width: 44px;
    height: 44px;
    margin: 0 1rem;
}

header nav div h1{
    font-size: 36px;
}

header nav ul{
    display: none;
}


.menu_hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_hamburguesa img{
    height: 64px;
    width: 64px;
}

header nav ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0px;
    overflow: hidden;
    z-index: 5000;
    position: absolute;
    top: 64px;
    left: 0px;
    background-color: black;
    transition: height 0.3s ease-in-out;
}

.submenu{
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0px;
    overflow: hidden;
    z-index: 5000;
    background-color: black;
    transition: height 0.3s ease-in-out;
    position: inherit;
}



header nav ul li{
    display: flex;
    border-top: gray 1px solid;
    height: max-content;
}

header nav ul li a,header nav ul li label{
    font-size: 1.5rem;
    padding: 1rem;
    height: 4rem;
}

header nav ul li label{
    color: white;
    transform: rotate(90deg);
}

header nav input{
    display: none;
}


header nav input[id="hamburguesa"]:checked~ul{
    height: max-content;
}

header nav input[id*="submenu"]:checked~ul{
    height: 12rem;
}

header nav input[id*="submenu"]:checked~label{
    transform: rotate(0deg);
}

.expandir{
    transition: transform ease-in-out 0.2s;
}





/* punto de quiebre 910px */

main{
    margin-top: 64px;
}



img{
    width: 32px;
    height: 32px;
}

.heroPanel{
    /*Declaramos un  nuevo plano cartesiano*/
    display: flex;
    position: relative;
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.heroPanel .Container{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    background-image: url(../fondos/blanco-salmon.jpg);
    
}



/*Imagen de fondo*/
.heroPanel .Container img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}



.heroPanel .Container .Contenido{
    z-index: 55;


    position: relative;

    justify-content: center;
    /*top: calc(50% - 150px);*/
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    display: block;
    text-align: center;
    padding: 0;

}

.heroPanel .Container .Contenido h2{
    display: inline-block;
    z-index: 50;
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;

    letter-spacing: 2px;

}

.heroPanel .Container .Contenido p{
    font-size: large;
    font-style: italic;
    padding: 1rem;
}



.heroPanel .Container .Contenido .NombrePie{
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;

}

.heroPanel .Container .Contenido .NombrePie p{
    padding: 0;

}




/*
.heroPanel .Container .Contenido .NombrePie div{
    position: relative;
    display: flex;
    justify-content: left;
}
    */

.heroPanel .Container .Contenido .NombrePie img{
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0.5rem;

}

.heroPanel .Container .Contenido .NombrePie span{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.NombrePie h3{
    margin: 0rem 0.5rem;

}

/*Seccion extra de testimonios*/
.Testimonios{
    padding: 2rem;
}

.Card{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    /*padding: 1rem;*/
    border: 2px solid black;
    width: 90vw ;
    /*max-width: 350px;*/
    
    text-align: center;
    height: fit-content;
    /*min-height: 80px;
    max-height: 80px;*/
    align-items: center;
}


.Contenido{
    padding: 1rem;

}

.CardContainer .Card .p{
    display: flex;
    text-align: center;

}


.Card .NombrePie{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 8px 0;
}

.Card .NombrePie span{
    margin-top: 100px;
    text-align: center;


}

/*Punto de corte de mobile a resoluciones mas grandes.*/
@media(min-width: 480px){
    .heroPanel{
       height: 60vh;
    }

    .heroPanel .Container{
        height: 100%;
        width: 50%;
    }

    .heroPanel .Container .Contenido{
        display: flex;
        align-items: center;
        height: 40vh;
        align-self: center;

        p{
            font-size: 24px;
        }
        h3{
            font-size: 22px;
        }

    }

    .Testimonios{
        font-size: 34px;
    }

    .Card p{
        font-size: 24px;
    }

    .Card .NombrePie{
        font-size: 22px;

    }

}
/*Revisar vision en movil del footer.*/

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  overflow: hidden;
}



.footer-seccion1{
    display: flex;
    flex-flow: column;
    width: 45%;
    text-align: center;
    height: 100%;
}

.footer-seccion1 h2{
    margin-bottom: 20px;
}

.footer-seccion2{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.footer-seccion2 h3,.footer-seccion2 p{
    display: none;
}

.footer-seccion3{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
}

/*Media Queries*/

@media (min-width: 710px) {

    .footer-seccion2 h3, p{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .CardContainer{
        flex-direction: row;
    }

    .redes::after{        
        content: " en Nuestras Redes Sociales";
    }
    
}

@media (min-width:1024px) {
    .hide{
        display: none;
    }

    .menu_hamburguesa{
        display: none;
    }

    header nav ul{
        padding: 0rem;
        display: flex;
        flex-direction: row;
        position: static;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        background-color: transparent;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }
    
    header nav ul li{
        height: 100%;
        display: flex;
        align-items: center;
        border: none;
    }
    
    header nav ul li a{
        font-size: 25px;
        padding: 0.8rem 1rem;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        border: none;
    }

    .footer-seccion3{
        flex-direction: row;
    }
}

/* Index only */
.IndexMain{
    background-image: url(../fondos/fondo-morado-blanco-mobil.jpg);
    object-fit: cover;
    object-position: center;
}

.heroBanner{
    width: 100%;
    height: 90vh;
}

.heroBanner img{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.blackCover{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0.5;
    background-color: black;
}

.heroBannerInfo{
    height: min-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    color: white;
    gap: 20px;
    position: absolute;
    top: 64px;
    right: 0;
}

.heroBannerInfo h2{
    font-size: 50px;
    font-weight: bold;
    z-index: 3;
}

.heroBannerInfo p{
    z-index: 3;
    width: 100%;
    font-size: 24px;
    opacity: 0.7;
    line-height: 1.5;  
}

.IndexBoton{
    padding: 15px 50px;
    z-index: 3;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    font-style: normal;
}

.IndexCards{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 80px;
}

.IndexCard{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    background-color: white;
    width: 90%;
    border: 1px solid black;
}

.CardImg{
    padding: 5px 0;
    width: 100%;
    height: 100%;
}

.CardImg img{
    width: 100%;
    height: 360px;
    object-fit: fill;
}

.CardInfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.CardInfo h3{
    color: #333333;
    font-size: 50px;
    text-align: center;
}

.CardInfo p{
    color: #888888;
    font-size: 24px;
    width: 75%;
}

.CardInfo .IndexBoton{
    background-color: black;
    color: white;
    font-weight: bold;
}

@media (min-width: 710px) {
    .heroBannerInfo{
        width: 36%;

    }
    .IndexMain{
        background-image: url(../fondos/fondo-morado-blanco-tablet.jpg);
    }

    .heroBannerInfo h2{
        font-size: 70px;
    }

    .IndexCard:nth-child(2) .CardImg{
        order: 2;
    }

    .IndexCard:nth-child(3) .CardInfo{
        order: 1;
    }

    .IndexCard{
        height: min-content;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        align-items: center;
    }

    .CardImg img{
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
.IndexMain{
    background-image: url(../fondos/fondo-morado-blanco-lg.jpg);
}
}

@media (min-width: 1500px) {
    .CardInfo h3{
        font-size: 70px;
    }
    
    .CardInfo p{
        font-size: 34px;
    }
    
    .CardInfo .IndexBoton{
        font-size: 34px;
    }
}

