body{
    box-sizing: border-box;
    min-height: 100vh;
}
.IndexMain{
    background-image: url(/res/fondos/fondo-azul-blanco.jpg);
    background-size: contain; 
    background-repeat: repeat; 
}

.heroPanel{
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    position: relative;
}

.heroPanel img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.heroPanel .hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.heroPanel .hero-info .slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    margin-top: 100px;
}
.heroPanel .hero-info .slider .item{  
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.container-cards{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container-cards .cards{
    width: 220px;
    height: 220px;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 10px #000000;
    cursor: pointer;
}
.container-cards .cards img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.container-cards .cards a{
    position: absolute;
    z-index: 3;
    top: 160px;
    left: 50px;
    width: 120px;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
    color: black;
    border: 1px solid #aeaeae;
    border-radius: 4px;
}

@media(min-width: 520px){
    .container-cards .card-5{
        width: 460px;
    }
    .container-cards .card-5 a{
        left: 170px;
    }
}
@media(min-width: 1000px){
   .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 260px);
   }
   .container-cards .card-5{
    width: 480px;
   }
}
